/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    /* overflow: hidden; */
    outline: solid 1px red;
   overflow-x: hidden;
   

  }
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }
  
  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* rtl:begin:ignore */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  /* rtl:end:ignore */
  
  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* rtl:begin:remove */
  .featurette-heading {
    letter-spacing: -.05rem;
  }
  
  /* rtl:end:remove */
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }

  }



  /* --------------------------------------------------------header */
  .form-control-dark {
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  /* -------------------------------------------------------- */
  /* @media screen and (min-width: 600px) {
    #navbar__logo {
        font-size: 2.5rem;
    } 
} */

  @media screen and (max-width: 960px) {
    .navbar__container {
      display: flex;
      justify-content: space-between;
      height: 80px;
      z-index: 1;
      width: 100%;
      max-width: 1300px;
      padding: 0;
    }
  
    .navbar__menu {
      display: flex;
      grid-template-columns: auto;
      margin: 0;
      width: 100%;
      position: absolute;
      top: -1000px;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: -1;
    }
  
    .navbar__menu.active {
      background: rgba(29, 27, 30, 0.625);
      backdrop-filter: blur(160px);
      flex: wrap;
      top: 100%;
      opacity: 1;
      transition: all 0.5s ease;
      z-index: 99;
      height: 58vh;
      right: .025rem;
      font-size: 1.6rem;
      flex-direction: column;
    }

  
    .navbar__toggle .bar {
      width: 32px;
      height: 4px;
      margin: 8px auto;
      transition: all 0.3s ease-in-out;
      background: #F5FFFA;
    }
  
    .navbar__item {
      width: 100%;
    }
  
    .navbar__links {
      text-align: center;
      padding: 2rem;
      width: 100%;
      display: table;
    }
  
    .navbar__btn {
        margin-top: 1.5rem;
      padding-bottom: 2rem;
    }
  
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80px;
      margin: 0;
    }
  
    #mobile-menu {
      position: absolute;
      top: 20%;
      right: 10%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(12px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-12px) rotate(-45deg);
    }
  }
  
  /* Hero section */
  .hero {
    background: #000000;
    background: linear-gradient(to right, #304352, #d7d2cc);
    padding: 15rem 0;
  }
  
  .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
  }
  
  .hero__heading {
    font-size: 100px;
    margin-bottom: 24px;
    color: #fff;
  }
  
  .hero__discription {
    font-size: 60px;
    /* background: #da22ff; */
    /* background: -webkit-linear-gradient(to right, #9114ff 0%, #da22ff 100%); */
    background: linear-gradient(to right, #414345 0%, #232526 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -mo-text-fill-color: transparent;
  }
  
  .highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
  }
  
  @media screen and (max-width: 768px) {
    .hero__heading {
      font-size: 60;
    }
  
    .hero__discription {
      font-size: 40px;
    }

  }

  /* ---------------------------------------------------------footer */
  /*footer css*/
.footer__container{
  background-color: #141414;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

}

#footer__logo{
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

/* Growth of icons *
.social__icons:hover {
  transform: scale(1.055);
  transition: 0.35s ease-in;
  cursor: pointer;
}*/

/*social icons*/
.social__icons a{
  color: #fff;
  font-size: 24px;
}

.social__media{
  max-width: 1000px;
  width: 100%;
}

.social__media--wrap{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin: 3px auto 0 auto;
}

.social__icons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}

.social__logo {
  color: #fff;
  justify-content: flex-start;
  margin-left: 20px;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.website__right {
  color: #fff;
}

/* Medium screen set up */
@media screen and (max-width: 820px){
  #footer__logo{
    margin-bottom: 2rem;
    padding-right: 25px;
  }

  .website__right{
    margin-bottom: 2rem;
  }

  .social__media--wrap{
    flex-direction: column;
  }
}

/* @media screen and (max-witdh: 480px){
} */

